.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.prettierignore
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/**
node_modules/**
webview-ui/.storybook/**
webview-ui/node_modules/**
webview-ui/src/**
webview-ui/stories/**
webview-ui/test/**
webview-ui/index.html
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/postcss.config.ts
webview-ui/README.md
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/vitest.config.ts
webview-ui/vitest.shims.d.ts
webview-ui/vitest.workspace.ts