.root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
  grid-template-areas:
    "toolbar"
    "content";
}

.toolbar {
  grid-area: toolbar;
  position: sticky;
  top: 0;
  z-index: 1;
}

.main {
  grid-area: content;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
